html {
  font-size: 62.5%;
}

body {
  font-family: 'peyda-400', sans-serif;
  overflow-x: hidden;
  color: var(--text-title);
}

button {
  cursor: pointer;
  font-family: 'peyda-400';
}

::placeholder {
  color: var(--black-100);
  font-family: 'peyda-400';
  opacity: 0.9;
}
